<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Folha de Estilização CSS (Font-End) -->
    <link rel="stylesheet" href="style.css">

    <!-- Título do projeto -->
    <title>To Do List - Project</title>
</head>

<body>

    <header>
        <% if (task == null) { %>
        <form action="/create" method="post">
            <input type="text" name="task" id="task" placeholder="Adicione uma tarefa">
            <button type="submit" id="addButton">Adicionar</button>
        </form>
        <% } else { %>
        <form action="/updateOneTask/<%= task._id %>" method="post">
            <input type="text" name="task" id="task" value="<%= task.task %>">
            <button type="submit" id="addButton">Atualizar</button>
        </form>
        <% } %>
    </header>
    
    <section id="tasks">
        <ul>
            <% tasksList.forEach((task)=> { %>
            <li>
                <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %>
                <a href="/getById/<%= task._id %>/update">Editar</a>
                <a href="/getById/<%= task._id %>/delete">Apagar</a>
            </li>
            <% }); %>
        </ul>
    </section>

    <% if (taskDelete != null) { %>
    <section id="modal">
        <div id="card">
            <a href="/">X</a>
            <h2>Confirmação</h2>
            <hr>
            <p>Deseja realmente <span>deletar</span> a tarefa <%= taskDelete.task %>?</p>
            <a href="/">Cancelar</a>
            <a href="/deleteOneTask/<%= taskDelete._id %>">Confirmar</a>
        </div>
    </section>
    <% } %>

    

    <!-- Script (Front-End) -->
    <script src="script.js"></script>
</body>

</html>